
.dataPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 15px;
    overflow-y: auto;
    padding: 35px 15px 15px 15px;
    background-color: var(--background-color);
}
.ordersDatesContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    border-radius: 15px;
    padding: 15px 15px 25px 15px;
    margin-top: 15px;
}
.dateContainer > input[type="datetime-local"] {
    position: absolute;
    left: -25px;
    top: -10px;
    padding: 0px 5px;
    background-color: white;
    opacity: 0;

}
.dateContainer > label {
    position: absolute;
}
.dateContainer {
    height: 25px;
    position: relative;
}
.dataUsageTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dataUsageContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}
.content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    text-align: justify;
    transition: max-height 0.5s ease, opacity 0.5s ease, margin-top 0.5s ease;
}
.content.visible {
    max-height: 200px;
    opacity: 1;
    margin-top: 15px;
}