
.card {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}
.cardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cardBody {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.organizationsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    overflow: hidden;
}

.divider {
    border-top: 1px solid var(--accent-color);
    position: relative;
    overflow: hidden;
    margin: 5px 0px;
    opacity: 1;
    transform: translate(0, 0);
    z-index: 2;
    transition: all .3s ease;
}