
.incomingRequestsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}

.requestItem {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}
.requestItem .requestItemBody {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.presonalInfo {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.requestItemHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.noRequestContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}