.ordersListWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 15px;
}



/*Стили для загрузки данных*/
.ordersLoadingContainer {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}



/*Стили для списка заказов*/
.ordersListContainer {
    width: 100%;
    height: 100%;
}
.orderContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.orderContainer button {
    height: 100%;
    min-width: 40px;
    background-color: var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
}
.orderContainer button .svgIcon {
    fill: var(--accent-color);
}
.ordersListContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto !important;
    border-radius: 15px;
}
.accordionContainer {
    display: inline-block;
    position: relative;
    width: 100%;
    border-radius: 15px;
}
.accordionContainer .accordionTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin: 0;
    position: relative;
    cursor: pointer;
}
.accordionTitleBar {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    display: flex;
    width: 5px;
    background-color: var(--accent-color);
}
.accordionContainer .accordionTitle h2 {
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--accent-color);
}
.accordionContainer .accordionTitle .svgIcon {
    fill: var(--accent-color);
    width: 25px;
    height: 25px;
}
.accordionContainer .accordionItem {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    line-height: 20px;
    letter-spacing: 1px;
    position: relative;
    opacity: 1;
    z-index: 2;
}
.accordionContainer .accordionItem .svgIcon {
    fill: var(--accent-color);
    width: 25px;
    height: 25px;
}
.accordionContainer ul {
    list-style: none;
    perspective: 900;
    padding: 0 20px 10px;
    margin: 0;
    background-color: var(--primary-color);
    border-radius: 15px;
}
.accordionContainer .divider {
    border-top: 1px solid var(--accent-color);
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    opacity: 1;
    transform: translate(0, 0);
    z-index: 2;
    transition: all .3s ease;
}
.accordionContainer ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 15px;
    user-select: none;
    color: var(--accent-color);
}
.accordionContainer ul li .svgIcon:nth-child(2) {
    position: absolute;
    margin-top: 10px;
    right: 0;
    fill: var(--accent-color);
    width: 30px;
    height: 30px;
    transition: all .3s ease;
}
.accordionContainer ul li input[type=checkbox]:checked {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 20%;
    z-index: 3;
    opacity: 0;
}
.accordionContainer ul li input[type=checkbox]:not(:checked) {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0;
}
.accordionItemDelete {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    right: 0;
    opacity: 1;
    z-index: 999;
    cursor: pointer;
    transform: translate(0, 0);
    transition: all .3s ease;
}
.accordionItemDelete .svgIcon {
    fill: var(--delete-color);
}
.accordionContainer ul li input[type=checkbox]:checked ~ .accordionItem {
    margin-top: 14px;
    max-height: 100px;
    opacity: 1;
    transition: all .3s ease;
}
.accordionContainer ul li input[type=checkbox]:not(:checked) ~ .accordionItem,
.accordionContainer ul li input[type=checkbox]:not(:checked) ~ .divider,
.accordionContainer ul li input[type=checkbox]:not(:checked) ~ .accordionItemDelete {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
    transition: all .3s ease;
}
.accordionContainer ul li input[type=checkbox]:checked ~ .svgIcon {
    transform: rotate(180deg);
}
.accordionCompletedContainer ul {
    background-color: var(--completed-color) !important;
}
.accordionCompletedContainer ul p,
.accordionCompletedContainer ul h2 {
    color: var(--completed-text-color) !important;
}
.accordionCompletedContainer .svgIcon {
    fill: var(--completed-text-color) !important;
}
.accordionCompletedContainer .divider {
    border-top: 1px solid var(--completed-text-color) !important;
}
.orderContainer .completedButton {
    background-color: var(--completed-color) !important;
}
.orderContainer .completedButton .svgIcon {
    fill: var(--completed-text-color) !important;
}
.accordionContainer .order10-20per {
    background-color: var(--per10-20-color);
}
.accordionContainer .order30-50per {
    background-color: var(--per30-50-color);
}
.accordionContainer .order60-90per {
    background-color: var(--per60-90-color);
}
.accordionContainer .orderDisplayNone {
    display: none;
}


/*Стили для поля фильтрации*/
.ordersFilterContainer {
    border-radius: 15px;
    background-color: var(--primary-color);
    width: 100%;
    padding: 20px;
    z-index: 10;
}