.detailsWrapper {
    position: absolute;
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 15px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.detailsContaner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    max-height: 600px;
}
.detailsContaner p {
    font-weight: 400;
    color: var(--secondary-text-color);
    font-size: 1.25rem;
}
.detailsInput {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.detailsInputRow {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.detailsTotal {
    width: 100%;
    text-align: center;
}
.detailsTotal p {
    font-size: 1rem;
}