.orderStepsWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 15px;
}



/*Стили для списка шагов заказа*/
.orderStepsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 15px;
    cursor: pointer;
}
.orderStepsItem {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 15px;
}
.orderStepsContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.orderStepsName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.orderStepsContainer .svgIcon {
    fill: var(--accent-color);
}



.orderStepsProgressBar {
    height: 5px;
    background-color: var(--completed-color);
    border-radius: 50px;
}

.orderStepsItemCompleted {
    background-color: var(--completed-color);
}
.orderStepsItemCompleted p {
    color: var(--completed-text-color);
}
.orderStepsItemCompleted .svgIcon {
    fill: var(--completed-text-color);
}