.orderPickupWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    gap: 15px;
}
.orderPickupContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 15px;
}
.orderPickupInputs {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.orderPickupInputs p {
    text-align: center;
}
.orderPickupImagesButton {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.orderPickupImagesButton button {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--accent-color);
}
.orderPickupImagesButton button .svgIcon {
    fill: var(--accent-color);
}
.orderPickupImagesButton .imagesDisabledButton {
    border: 1px solid var(--disabled-color);
}
.orderPickupImagesButton .imagesDisabledButton .svgIcon {
    fill: var(--disabled-color);
}