.orderPickupWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    gap: 15px;
}



.orderPickupContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}



.orderPickupInputs {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    -webkit-box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.08);
}
.orderPickupInputs p {
    text-align: center;
}


.orderPickupImagesButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}