
.materials {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0px;
    text-align: left;
    min-height: 150px;
    max-height: 300px;
}
.materialsWrapper {
    padding: 10px;
    border-radius: 15px;
    background-color: white;
}
.materials th, .workflowTable td {
    padding: 10px 12px;
    border: 1px solid #ddd;
}
.materials th.iconCell {
    text-align: center;
    padding: 5px;
}
.materials tbody tr {
    border-bottom: 1px solid #ddd;
}

.materials tbody tr:nth-of-type(even) {
    background-color: #f2f2f2;
}

.materials tbody tr:last-of-type {
    border-bottom: 2px solid #4CAF50;
}

.addMaterialWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.deleteIcon {
    fill: var(--delete-color);
}
.materials {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    padding: 5px;
}
.materialItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 1px 5px lightgray;
}
.materialCardTitle {
    font-weight: 400;
    color: var(--secondary-text-color);
    font-size: 1.25rem;
    margin-bottom: 20px;
}