
.addNewsWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
    gap: 15px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}
.customTextarea {
    height: 85%;
}
