
.sms-mailing-wrapper {
    width: 100%;
    max-height: 95%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
}
.sms-mailing-form {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sms-mailing-form > * {
    padding: 0px;
}
.sms-mailing-form textarea {
    text-align: justify;
    height: 150px;
    border-bottom: 1px gray solid;
}