
.floatingButton {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: #2196F3;
    color: white;
    font-size: 24px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.85;
}
.floatingButton:active {
    background-color: #1473c2;
    opacity: 1;
}