
.iconContainer {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px 1px lightgray;
}
.icon {
    fill: black;
}
.rotated {
    transform: rotate(180deg);
}