.ordersList {
  padding: 0px;
  margin: 0px;
}

.ordersList th {
  text-align: start;
  padding: 10px 15px;
  border: 1px solid gray;
}

.ordersList th div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ordersList td {
  padding: 10px 15px;
  border: 1px solid gray;
  cursor: pointer;
}
.ordersList tbody tr {
  cursor: pointer;
}
.ordersList tbody tr:hover {
  background-color: var(--color-primary);
  color: white;
}

.tableWrapper {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
