.employeesCards {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 15px;
    padding: 0px 0px 15px 0px;
}

.employeeCardWrapper {
}
.employeeCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
    padding: 15px;
    background-color: var(--primary-color);
    gap: 5px;
}
.cardOptions {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 5px;
    margin-top: 5px;
    padding-top: 10px;
    border-top: 1px solid var(--accent-color);
    
}

.employeeCard .option {
    display: flex;
    justify-content: space-between;
}
.cardItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}
.cardItem > .cardTitle {
    display: flex;
    align-items: center;
    gap: 5px;
}
.svgIcon {
    fill: var(--accent-color);
}
.svgInactiveIcon {
    fill: lightgray;
}
.svgDeleteIcon {
    fill: var(--delete-color);
}