.employeesWrapper {
    border-radius: 15px;
    padding: 20px;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.employeesWrapper table {
    width: 100%;
    border-collapse: collapse;
}

.employeesWrapper table th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.employeesWrapper table th {
    background-color: lightgray;
    color: black;
}

.employeesWrapper table tr:hover {
    background-color: #f1f1f1;
}

.employeesWrapper tr {
    margin-bottom: 10px;
}