
.notifyProviderIcon {
    position: absolute;
    right: 9px;
    width: 25px;
    height: 25px;
}
.btnNotificationContent {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
}