* {
	border: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

:root {
	--primary-color: white;
	--primary-sidebar-color: rgba(255, 255, 255, .2);
	--background-color: #F5f5f5;
	--accent-color: #4a4e69;
	--darker-accent-color: #22223b;
	--brighter-accent-color: #e3f2fd;
	--secondary-text-color: gray;
	--disabled-color: gray;
	--delete-color: #e12729;

	--per10-30-color: #e12729; 
	--per40-70-color: #f8cc1b; 
	--per80-100-color: #007f4e; 

	--sidebar-width: 80px; /*Ширина сайдбара*/
	--sidebar-marign: 15px; /* Отступы сайдбара*/
	--sidebar-button-size: 50px; /*Размер кнопок внутри сайдбара (ширина, высота)*/
	--sidebar-button-icon-size: 55%; /*Процент от размера кнопки*/
	--sidebar-button-border-radius: 15px; /*Радиус скругления углов кнопки сайдбара*/
	--sidebar-button-gap: 15px; /*Промежуток между кнопками сайдбара*/
}

body {
	margin: 0;
	background-color: white;
}
.dashboardWrapper {
	display: flex;
	height: 100vh;
}
.dashboardContent {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: left .2s ease;
}
.contentWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--background-color);
	width: 100%;
	height: 100%;
	padding: 15px;
}
.pageTitle {
	font-weight: 400;
    color: var(--secondary-text-color);
    font-size: 1.5rem;
    margin-top: 8px;
    margin-left: 5px;
}
.homeButton {
	position: fixed;
	background-color: transparent;
	top: var(--sidebar-marign);
	right: var(--sidebar-marign);
	z-index: 2;
	width: var(--sidebar-button-size);
	height: var(--sidebar-button-size);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	overflow: hidden;
	cursor: pointer;
	transition: transform .5s ease;
}
.homeButton .svgIcon {
	width: var(--sidebar-button-icon-size);
    height: var(--sidebar-button-icon-size);
    fill: var(--darker-accent-color);
}
.toogleSidebarButton.active {
	transform: translateX(100px);
}
.customInput {
	height: 40px;
	background-color: transparent;
	width: 100%;
	font-size: 1rem;
	outline: none;
	padding: 0 10px;
	border-bottom: 1px solid var(--secondary-text-color);
	transition: all .2s ease;
}
.customTextarea {
	background-color: transparent;
	width: 100%;
	resize: none;
	font-size: 1rem;
	outline: none;
	padding: 0 10px;
	border-bottom: 1px solid var(--secondary-text-color);
	transition: all .2s ease;
}
.cutomInputContainer,
.cutomTextareaContainer {
    position: relative;
	display: flex;
}
.cutomInputContainer .customInput,
.cutomTextareaContainer .customTextarea {
    padding: 0 30px;
}
.cutomInputContainer .svgIcon {
	position: absolute;
	height: 20px;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	fill: var(--secondary-text-color);
	transition: all .2s ease;
}
.cutomTextareaContainer .svgIcon {
	position: absolute;
	height: 20px;
	left: 0;
	fill: var(--secondary-text-color);
	transition: all .2s ease;
}
.cutomInputContainer .customInput:focus,
.cutomInputContainer .customInput:valid,
.cutomTextareaContainer .customTextarea:focus,
.cutomTextareaContainer .customTextarea:valid {
	border-bottom: 1px solid var(--accent-color);
}
.cutomInputContainer .customInput:focus + .svgIcon,
.cutomInputContainer .customInput:valid + .svgIcon,
.cutomTextareaContainer .customTextarea:focus + .svgIcon,
.cutomTextareaContainer .customTextarea:valid + .svgIcon {
	fill: var(--accent-color);
}
.customButton {
	width: 100%;
	height: 40px;
	min-height: 40px;
	background-color: var(--accent-color);
	color: var(--primary-color);
	border-radius: 50px;
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
}
.linkButton {
	background-color: transparent;
	text-decoration: underline;
	outline: none;
	cursor: pointer;
}
.disabledButton {
	background-color: var(--disabled-color);
	cursor: none;
}



.customFileUploadContainer {
	display: flex;
	width: 100%;
	height: 40px;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.customFileUploadContainer input[type="file"] {
	display: none;
}
.customFileUploadContainer label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
	min-height: 40px;
	background-color: var(--accent-color);
	color: var(--primary-color);
	border-radius: 50px;
	font-size: 1rem;
	cursor: pointer;
	transition: transform .5s ease;
}
.customFileUploadLabelDisabled {
	background-color: var(--disabled-color) !important;
	cursor: none;
}