
.managementPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 35px 15px 15px 15px;
    background-color: var(--background-color);
}
