
.readyOrdersDataWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
}
.readyOrdersDataWrapper h3 h2 {
    align-content: center;
}
.readyOrdersDataWrapper p, h3 {
    padding: 5px;

}